@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.opacity_anime {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: opacity 1s ease-in;
}

.opacity_anime_longer {
  opacity: 0;
  animation: fadeIn 1s 1s ease-in-out forwards;
  transition: opacity 1s ease-in;
}

/* Define the keyframes for the slide-in animation */
@keyframes slideIn {
  0% {
    transform: translateX(10%);
  }

    /* 50% {
      transform: translateX(30%);
    } */

  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the slider class */
.slider {
  transform: translateX(100%);
  animation: slideIn ease-in-out forwards;
  animation-duration: 1s;
}


@keyframes moveUp {
  0% {
    transform: translateY(30%);
  }

  /* 50% {
      transform: translateX(30%);
    } */

  100% {
    transform: translateY(0);
  }
}


.move_up {
  transform: translateY(100%);
  animation: moveUp ease-in-out forwards;
  animation-duration: 1s;
}